@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.body-content {
    max-height: 300px !important;
    overflow-y: scroll;
}

.trix-button-group--history-tools {
    display: none !important;
}

.error {
    color: #721c24;
}

.frontpage img{
    height: 250px;
    object-fit: cover;
}

.frontproducts img{
    min-height: 500px;
    object-fit: cover;
}
